# AdaBoost Classifier Tutorial

Reference: https://www.kaggle.com/code/prashant111/adaboost-classifier-tutorial/notebook

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Import Libraries

In [ ]:
import numpy as np
import pandas as pd

## Load dataset

In [ ]:
iris = pd.read_csv('/content/drive/MyDrive/ML & DL 스터디/파일 목록/Iris.csv')
# iris.sample()

## EDA

In [ ]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [ ]:
# 변수 지정
# Hint: iris.columns[1:-1]
X = iris[['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm']]

X.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

In [ ]:
# 변수 지정
# Hint: iris.columns[-1]
y = iris["Species"]

y.head()

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: Species, dtype: object

In [ ]:
from sklearn.preprocessing import LabelEncoder

le=LabelEncoder()

y=le.fit_transform(y)

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [ ]:
# 아다부스트 모델 생성
# Hint: sklearn.?
# Hint: import sklearn."모듈명" -> print(dir(sklearn.모듈명)) 
from sklearn.ensemble import AdaBoostClassifier

abc = AdaBoostClassifier(n_estimators=50, learning_rate=1, random_state=0)

model1 = abc.fit(X_train, y_train)

y_pred = model1.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score

print("AdaBoost Classifier Model Accuracy:", accuracy_score(y_test, y_pred))

AdaBoost Classifier Model Accuracy: 0.9777777777777777

In [ ]:
from sklearn.svm import SVC

svc=SVC(probability=True, kernel='linear')

# 아까와 동일한 코드 작성
abc =AdaBoostClassifier(n_estimators=50, base_estimator=svc,learning_rate=1, random_state=0)

model2 = abc.fit(X_train, y_train)

y_pred = model2.predict(X_test)

print("Model Accuracy with SVC Base Estimator:",accuracy_score(y_test, y_pred))

Model Accuracy with SVC Base Estimator: 0.9777777777777777